img {
    height: 600px;
    border: 9px solid black;
}
 
 body{
      background-color:#EE82EE;
 }     
  
ul {
    font-size:24px;
font-family: 'Bangers', cursive;
color:green;
}

p {
    font-size:21px;
    color:green;
} 









